.advisory-frmvalue-header--message{
   color: #FF0000;
   font-weight: bold;
}
.advisory-frmvalue-name--message{
   color: #FF0000;
   font-weight: bold;
}
.advisory-frmvalue-designation--message{
   color: #FF0000;
   font-weight: bold;
}
.advisory-frmvalue-description--message{
   color: #FF0000;
   font-weight: bold;
}
.advisory-frmvalue-image-message{
   color: #FF0000;
   font-weight: bold;
}


.news-frmvalue-header-message{
   color: #FF0000;
   font-weight: bold;
}
.news-frmvalue-subheading-message{
   color: #FF0000;
   font-weight: bold;
}

.news-frmvalue-description-message{
   color: #FF0000;
   font-weight: bold;
}
.news-frmvalue-image-message{
   color: #FF0000;
   font-weight: bold;
}


.advisory-frmvalue-header-add-message{
   color: #FF0000;
   font-weight: bold;
}

.news-frmvalue-header-add-message{
   color: #FF0000;
   font-weight: bold;
}


.advisory-add-header-message{
   color: #FF0000;
   font-weight: bold;
}

.news-add-header-message{
   color: #FF0000;
   font-weight: bold;
}

.advisory-edit-header-message{
   color: #FF0000;
   font-weight: bold;
}

.news-edit-header-message{
   color: #FF0000;
   font-weight: bold;
}

#advisory-header{
	font-size:30px;
	font-weight: bold;
}
#name{
	font-size:20px;
	
}
#designation{
	font-size:20px;
	
}
#description{
	font-size:20px;
	float: right;
	
    width: 300px;
   
    padding: 20px;
	
	
}


#page-empty{
	font-size:30px;
	font-weight: bold;
}



#news-header{
	font-size:30px;
	font-weight: bold;
}
#subheading{
	font-size:20px;
	
}

